<div id="footer">
  <div class="copyrights">2013  ©  Listening 福利請聽  ||  本福利來源以該單位最新頒佈為準，資料僅供參考，若有不正確之處請來信與我們反應。</div>
  <ul class="footer-links">
    <li><a href="http://www.facebook.com/pages/Listening-%E7%A6%8F%E5%88%A9%E8%AB%8B%E8%81%BD/173478432803859" title=""><i class="icon-cogs"></i> Facebook 粉絲團</a></li>
    <li><a class="bugsent"><i class="icon-screenshot"></i>回報Bug</a></li>
  </ul>
</div> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40052564-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

