<div id="top">
  <div class="fixed">
    <a href="/#/" title="" class="logo"><img src="/img/logo_s.png" alt="" style="margin-top:0px"></a>
    <ul class="top-menu">
      <li><a class="aboutus helpmebtn" style="background:#EF705B;">Help Me!</a></li>
      <!-- <li><a class="aboutus" href="/addneworg">新增組織</a></li> -->
      <li><a class="aboutus" href="/#/aboutus">關於我們</a></li>
      <li><a class="aboutus" href="/apiinfo">API列表</a></li>
      <!-- <li><a class="supportus" href="/sponsor">贊助我們</a></li> -->
      <li><a class="supportus" href="/login">管理登入</a></li> 
    </ul>
  </div>
</div>