<head>
    <title>福利請聽</title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/ngStorage.js"></script>
    <script src="/js/showdown.js"></script>
    <script src="/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/jquery.moedict.min.js"></script>
    <link rel='stylesheet' href='/css/bootstrap.css' />
<!--     <link rel='stylesheet' href='/css/bootstrap-responsive.css' /> -->
    <link rel='stylesheet' href='/css/magic.min.css' />
    <link rel='stylesheet' href='/css/animate.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>