<h3 style="line-height:30px;">
  <div style="float:left">
  你將可能獲得最高
  <b ng-show="_tmp_nt !=0">{{_tmp_nt}}元補助</b>
  <b ng-show="_tmp_ft.length !=0">& {{_tmp_ft.length}}個輔具</b>
  <a class="btn" ng-click="showmaxcontent=!showmaxcontent" ng-hide="showmaxcontent"> 其他...</a>
  </div>
  <div ng-show="showmaxcontent" style="float:left">
    <b ng-show="_tmp_bf.length !=0">& {{_tmp_bf.length}}條辦法 &</b>
    <b ng-show="_tmp_mc.length !=0">{{_tmp_mc.length}}本名冊 &</b>
    <b ng-show="_tmp_fw.length !=0">{{_tmp_fw.length}}列服務 &</b>
    <b ng-show="_tmp_cc.length !=0">{{_tmp_cc.length}}個證件</b>
  </div>
</h3>
<div style="width:100%;height:30px"></div>