<div class="fixed">
  <a href="/#/" title="" class="logo"><img src="/img/logo_s.png" alt="" style="margin-top:0px"></a>
  <ul class="top-menu">
    <!-- <li><a class="aboutus helpmebtn" style="background:#EF705B;">Help Me!</a></li> -->
    <!-- <li><a class="aboutus" href="/addneworg">新增組織</a></li> -->
    <li><a class="aboutus" href="/#/aboutus">關於我們</a></li>
    <li><a class="aboutus" href="https://github.com/listeningme/listeningme/wiki">API列表</a></li>
    <!-- <li><a class="supportus" href="/sponsor">贊助我們</a></li> -->
     <li ng-hide="{{_isLogin}}"><a class="supportus" href="/#/login">管理登入</a></li> 
     <li ng-hide="{{!_isLogin}}"><a class="supportus" href="/bk" style="background:#EF705B;">管理後台</a></li>
     <li ng-hide="{{!_isLogin}}"><a class="supportus" href="/bk/logout">管理登出</a></li>
  </ul>
</div>