<div ui-view></div>
<div id="content">
	<div class="wrapper_c">   
      <div class="span12" style="height:120px" ng-hide="searchblank"></div>
      <div class="form-wrapper">
          <input type="text" id="search" placeholder="請輸入福利搜尋條件..." ng-model="selected" typeahead="state for state in states | filter:$viewValue" required ng-click="clicksearch()" >
          <input type="submit" ng-click="gosearch()" value="go" id="submit" style="width:80px;margin-left:5px;">
      </div>
      <div class="span12" style="height:120px;" ng-hide="searchblank"></div>

      <ng-include src="'/themeplate/account.ejs'"></ng-include>
      <h5 class="widget-name" >
      </h5>
      <ng-include src="'/themeplate/search_header.ejs'"></ng-include>
      <div class="well invoice" style="text-align:center;cursor:pointer" ng-show="!noneresult" ng-click="savethissearchtag()">
      儲存此搜尋結果
      </div>
      <div class="well invoice" ng-class="searchblank? 'animated fadeInUp' : ''">
          <ul class="repo_div_fr clear_sfr" ng-repeat="i in datas">
            <div class="invoice-head" style="padding:0px 10px;">
              <b class="btn btn-small btn-love" ng-click="likethislaw(i._id,i.title)"><i class="ico-heart" style=""></i></b>
              <a href="/#/details/{{i._id}}" class="lawtitlefra">
                <h3 class="lawtitleh3">&nbsp{{i.title}}</h3>
              </a>
              <ul class="pull-right minus-list invoice-data" style="float:left;padding-top:10px;padding-left:20px;">
                <li style="width:350px;height:20px;overflow:hidden">內容預覽：{{i.content}}</li>
              </ul>
              <h5 style="font-size:14px;float:right">Max Value：{{i.max_type}}{{i.max_content}}</h5>
            </div>
          </ul>
      </div>
      <div ng-show="noneresult">
          <ul style="margin-top:50px;">
            <li>
                <h3 style="text-align:center">很抱歉沒有符合的結果，您可以把您的搜尋記錄回饋給我們，讓我們優先去加強此搜尋記錄法條！
                </h3>
            </li>
            <li style="width:100%"><div style="margin:auto;width:100px">
                <a class="btn btn-large btn-success" style="width:100px" ng-click="sendnoresault()">傳送</a>
              </div>
            </li>
          </ul>
      </div>

  	</div>
</div>