<div ui-view></div>
<div id="content">
	<div class="wrapper_c">        
      <div class="form-wrapper">
          <input type="text" id="search" placeholder="請輸入福利搜尋條件..." ng-model="selected" typeahead="state for state in states | filter:$viewValue" required ng-bind="tt()">
          <input type="submit" ng-click="gosearch()" value="go" id="submit" style="width:80px;margin-left:5px;">
      </div>
      <h5 class="widget-name"><i class="icon-columns"></i>
          最新回應
      </h5>
      <ng-include src="'/themeplate/search_header.ejs'"></ng-include>
      <div class="well invoice">
          <h3 style="text-align:center">系統正在打造中，敬請期待</h3>
      </div>
  	</div>
</div>