<div ui-view></div>
<div id="container">
    <div id="content">
      <div class="wrapper_c">
        <div class="row-fluid">
          <div class="span12">
            <h5 style="font-style: italic;margin-top:50px;">一個成功的社會並不是看富裕的人過得多優渥，而是弱勢的如何自在的生存</h5>
          </div>
        </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="well-white body semi-widget">
              <blockquote>
                  <p>Why do we need 福利搜尋器?</p>
                  <small>出生、上學、創業、失業、租屋、買房、結婚、生孩子、生病、住院、退休、年老......人生的每個階段，都會有用到社會補助、福利資源的時候；但面對台灣龐雜的社福系統、民間政府上萬種社會福利，「茫茫補助海中，到底哪些是我有資格可申請的？」
              福利搜尋器，就是希望透過簡易的條件篩選解決上述問題，幫助你找到你專屬的社會福利菜單！</small>
              </blockquote>
          </div>
          <div class="well-white body semi-widget">
              <blockquote>
                  <p>How does 福利搜尋器 work?</p>
                  <small>「福利搜尋器」提供以下三種方式，幫助你搜尋社會福利資訊：
          條件篩選：選擇福利情境(Ex. 我要買房子、我要創業、我失業了......)，並填寫個人資料問卷，篩選出符合你符合申請資格的福利法規。
          法規資料庫：將所有社福法規、辦法按類別置於資料庫，並連結「曾申請該福利的網友經驗談」、「申請實務QA」，省去實際申請時的摸索期。
          我需要幫忙！：如果以上兩種方式無法滿足的你的需求，請利用「我需要幫忙！」直接寫下你的情況及需要的福利協助，我們將透過FB同步匿名發布你的求救問題，集合熱心網友的智慧回答你的問題。</small>
              </blockquote>
          </div>
          <div class="well-white body semi-widget">
              <blockquote>
                  <p>What problems do we want to solve?</p>
                  <small>目前台灣的社會福利提供者包括各級政府及民間組織，體系本身複雜外，社福資訊呈現上也有若干待改進之處：
          個人化，無！目前要搜尋社會福利時，我們只能點開政府網頁，把社福辦法一項、一項點開，逐一確認自己是否符合申請資格；這讓福利搜尋變成一件耗時耗力的麻煩事。
          整合性，無！以一個失能住院的病人為例，他要分別到社會局、健保局、勞保局、病友會的網站才能完整的找到所有傷病相關的福利。
          具體性，無！大多數的福利資訊只會告訴你「應備條件」及「申請辦法」，但許多補助其實是有「攻略秘笈」的，例如申請失能給付可能導致無法領取老年給付，造成「因小失大」的情形；這些是透過實際社福申請經驗分享才能了解的。</small>
              </blockquote>
          </div>
          <br/>
          <h4>團隊在開發的過程，有遇到一些難題：</h4>
          <a href="/meetproblem">詳情請見</a>
          <br/>
          <h4>感謝所有參與此公益專案付出的編輯群與開發者：</h4>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c66.66.828.828/s160x160/154152_509866239058387_1475957621_n.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c66.161.453.453/s160x160/547339_546602772051490_1977812755_n.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c153.33.414.414/s160x160/196859_150375575024698_772597_n.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/c66.66.828.828/s160x160/268319_569453349738317_1727812195_n.jpg" />
          </a>
          <a href="">
            <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash4/189737_4819623931_6095_s.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/c168.0.350.350/s160x160/253779_2134980616069_6310898_n.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="http://profile.ak.fbcdn.net/hprofile-ak-ash4/c26.26.332.332/s160x160/409640_10150955101987523_1945325367_n.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="http://profile.ak.fbcdn.net/hprofile-ak-frc3/c47.47.587.587/s160x160/397414_148700811951808_600758452_n.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="http://profile.ak.fbcdn.net/hprofile-ak-snc7/c0.31.180.180/s160x160/4847_120263285378_7524577_a.jpg" />
          </a>
          <a href="">
            <img style="width:80px;border-radius:30px;" src="http://profile.ak.fbcdn.net/hprofile-ak-ash3/c0.45.180.180/s160x160/6054_117453610667_7425310_a.jpg" />
          </a>
          <br/><br/>
          <h4>若您想聯繫我們，請透過以下方式：</h4>
          tw.listening.service@gmail.com
          <br/><br/><br/><br/><br/><br/>
        </div>
      </div>
      </div>
    </div>
</div>
