<div ui-view></div>
<div id="content">
	 <div class="wrapper_c">   
        <div class="span12">
            <div class="navbar">
                <h3>所有關鍵字階層管理</h3>
                <div >
                    <select ng-model="selfirsttag" ng-options="m.name_en as m.name_zh for m in firsttagdatas"></select>
                    <a class="btn" ng-click="add()">新增</a>
                </div>
                <div ng-repeat="n in firsttagdatas">
                    <div class="navbar-inner">
                        <h6>{{n.name_zh}}</h6>
                        <div style="float:right">
                            <select ng-model="selsecondtag" ng-options="m.name_en as m.name_zh for m in Secandtagdatas"></select>
                            <a class="btn" ng-click="addidentify(n.name_en,selsecondtag)">新增身分別</a>
                            <select ng-model="selsecondcatag" ng-options="m.name_en as m.name_zh for m in SecondCategoryTagdatas"></select>
                            <a class="btn" ng-click="addsecondca(n.name_en,selsecondcatag)">新增子類別</a>
                        </div>
                    </div>
                    <div class="well" ng-repeat="kk in datas">
                        <div class="control-group" ng-show="kk.first_name_en == n.name_en">
                            <label class="control-label">
                                {{kk.second_name_en}}
                                <!-- <div class="btn" style="float:right">新增第三階層規則</div> -->
                            </label>
                        </div>
                    </div>
                    <br/><br/>
                    <h5 class="widget-name"></h5>
                </div>
            </div>
        </div>  
    </div>
</div>