<div ui-view></div>
<div id="content">
	 <div class="wrapper_c">   
        <div class="span12">
          <h2>新增地區</h2>
            <dl class="dl-horizontal" >
                <dt >地區列表</dt>
                <dd >
                    中文： ｜｜英文：
                </dd>
                <dt >新增地區</dt>
                <dd >中文：<input type="text" /><br/>
                    英文：<input type="text" />
                </dd>
                <dd>
                    <div class="btn">確認送出</div>
                    <div class="btn">取消</div>
                </dd>
            </dl>           
        </div>  
    </div>
</div>