<div ui-view></div>
<div id="content">
	 <div class="wrapper_c">   
        <div class="span12">
          <h2>第一階層tag管理</h2>
            <dl class="dl-horizontal" >
                標題
               <input type="text" ng-model="title" style="width:600px"/>
               <br/><br/>
               網址
               <input type="text" ng-model="url" style="width:600px"/>
               <br/><br/>
               地區
               <input type="text" ng-model="location" style="width:600px"/>
               <br/><br/>
               單位
               <input type="text" ng-model="unit" style="width:600px"/>
               <a class="btn" ng-click="add()">SEND</a>
            </dl>           
        </div>  
    </div>
</div>